:root {
  --text-color--: #c7c7c7;
}
.container-fluid {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.row {
  margin: 0;
}
/* head video  */
.head-video {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #29303b;
  /* height: 40px; */
}
.head-video .lever {
  align-items: center;
}
.head-video p {
  font-size: 10px;
  color: white;
  margin: 5px 10px;
  /* text-align: center; */
}
.head-video i {
  font-size: 15px;
  margin: auto 0;
  color: white;
}
.head-video .you {
  width: 30px;
  margin-right: 0;
  border-radius: 50%;
}
/* nav videos */
.link-item {
  text-decoration: none;
  color: var(--text-color--);
}
.link-item:hover {
  text-decoration: none;
  color: white;
}
/* video chính */
.video-content {
  justify-content: space-between;
}
.title-video-main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.title-video-main p {
  font-style: italic;
}
.title-video-main h3 {
  font-size: 35px;
}

/* thông tin video */
.rate {
  align-items: center;
  gap: 10px;
}
.rate button {
  background-color: #ebebeb;
  padding: 5px 10px;
  border: black solid 0.0005px;
  border-radius: 20px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}
.rate button i {
  margin-top: 5px;
  font-size: 20px;
}
.rate .like i {
}
.rate .download i {
  color: green;
}
.rate .share i {
  color: rgb(95, 104, 27);
}
/* ấn nút */
.like.active {
  background-color: #0635f0; /* Màu xanh lá */
  color: rgb(255, 255, 0);
}

.dislike.active {
  background-color: #808080; /* Màu xám */
  color: rgb(255, 225, 0);
}
/* comment */
.cmt-khung {
  background-image: linear-gradient(45deg, #ffffff74 0%, #ffffffd1 100%);

  padding: 30px;
  box-shadow: none;
}
.scroll-cmt {
  background-color: #e1f1cf;
  overflow: auto;
  height: 500px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-bottom: black solid 2px;
}
.list-video-title {
  font-style: italic;
  font-weight: bold;
  color: rgb(0, 255, 8);
}
video {
}
.video {
  display: flex;
}
.video + .video {
  padding-top: 10px;
}
.video-img {
  width: 50%;
}
.video-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.title-video .title-eyes {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-style: italic;
}
.title-video .title-eyes p {
  margin-bottom: 0;
}
.title-video h4 {
  font: 600 20px "Times New Roman", Times, serif;
  text-align: justify;
  /* margin-bottom: 0; */
}
.title-video p {
  text-align: justify;
  margin-bottom: 0;
}
.list-video-wrapper {
  background-color: #e1f1cf;
  overflow-y: auto;
  direction: rtl;
  /* Chỉnh hướng của thanh cuộn sang bên trái */
}
.list-video {
  direction: ltr;
  /* Chỉnh hướng của nội dung video sang bên phải */
  height: 1400px;
}
